* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}

html {
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	font-size: 0.833vw;
	font-weight: 400;
	font-size: normal;
	line-height: 1.4;
	color: #000;
	cursor: default;
}

.container {
	max-width: 83.333vw;
	padding: 0 0.78125vw;
	margin: 0 auto;
}


@media (max-width: 992.75px) {
	html {
		font-size: 10px;
		font-weight: 400;
		font-size: normal;
		line-height: 1.4;
		color: #000;
		cursor: default;
	}
	
	.container {
		max-width: 992px;
		padding: 0 15px;
		margin: 0 auto;
	}
}

@media (max-width: 425.75px) {
	.container {
		max-width: 425px;
		padding: 0 15px;
		margin: 0 auto;
	}
}